## Webscrapping

In [1]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
# from splinter import Browser
import numpy as np

In [99]:
#url = "https://www.transfermarkt.es/laliga/topVerursachteElfmeter/wettbewerb/ES1/plus/?saison_id=2022"       #url de los pelnaltis a favor
url = "https://www.transfermarkt.es/laliga/topVerursachteElfmeter/wettbewerb/ES1/plus/?saison_id=2005"        #url de los pelnaltis a favor

requests.get(url)    #la url es de la pagina de transfermark donde aparecen por temporada, los penaltis a favor o en contra de la liga, por lo que hay que obtener los datos de cada temporada.

In [100]:
from fake_useragent import UserAgent                #ya que me niega el acceso, hay que ejcutar este código
ua = UserAgent()
headers = {'User-Agent': ua.random}
response = requests.get(url, headers=headers)
response

In [101]:
soup = bs(response.text,'html.parser')             #Creo la variable con todos los datos de la url

In [102]:
"""creo un diccionario con las claves Equipo y penaltis,
las cuales contienen una lista vacia, a la que le iremos añadiendo 
los datos que vamos extrayendo de cada busqueda mediante bucle for.
Este código hay que ejecutarlo por cada temporada y tanto para penaltis a favor como en contra """

diccionario = {'Equipo' : [],
               'penaltis_contra' : []
               }

title = soup.find("table", class_="items").find_all('td',class_="zentriert no-border-rechts")
penaltis = soup.find("table", class_="items").find_all('td', class_="zentriert hauptlink")

for n in penaltis:
    diccionario['penaltis_contra'].append(n.find('a').get_text())

for i in title:
    diccionario['Equipo'].append(i.find('a')['title'])

In [ ]:
diccionario = {'Equipo' : [],
               'penaltis_favor' : []
               }

title = soup.find("table", class_="items").find_all('td',class_="zentriert no-border-rechts")
penaltis = soup.find("table", class_="items").find_all('td', class_="zentriert hauptlink")

for n in penaltis:
    diccionario['penaltis_favor'].append(n.find('a').get_text())

for i in title:
    diccionario['Equipo'].append(i.find('a')['title'])

In [9]:
"""Por cada temporada temporada, creo una DF"""

df_2223 = pd.DataFrame(diccionario)

In [14]:
df_2122 = pd.DataFrame(diccionario)

In [19]:
df_2021 = pd.DataFrame(diccionario)

In [24]:
df_1920 = pd.DataFrame(diccionario)

In [29]:
df_1819 = pd.DataFrame(diccionario)

In [35]:
df_1718 = pd.DataFrame(diccionario)

In [40]:
df_1617 = pd.DataFrame(diccionario)

In [45]:
df_1516 = pd.DataFrame(diccionario)

In [51]:
df_1415 = pd.DataFrame(diccionario)

In [60]:
df_1314 = pd.DataFrame(diccionario)

In [65]:
df_1213 = pd.DataFrame(diccionario)

In [70]:
df_1112 = pd.DataFrame(diccionario)

In [76]:
df_1011 = pd.DataFrame(diccionario)

In [82]:
df_0910 = pd.DataFrame(diccionario)

In [88]:
df_0809 = pd.DataFrame(diccionario)

In [93]:
df_0708 = pd.DataFrame(diccionario)

In [98]:
df_0607 = pd.DataFrame(diccionario)

In [103]:
df_0506 = pd.DataFrame(diccionario)

In [ ]:
"""Al principio quería hacerlo de otra forma y decidí exportar los datos 1 a 1,
pero debería haber concatenado primero las datframe, por lo que fue un trabajazo innecesario"""

#df_0506.to_csv('data/05-06.csv')

In [150]:
"""Las vuelvo a importar añadiendo la columna de cada temporada """

penalti_05 = pd.read_csv('data/pen05.csv')          
penalti_05['Temporada'] = '05/06'
penalti_06 = pd.read_csv('data/pen06.csv')          
penalti_06['Temporada'] = '06/07'
penalti_07 = pd.read_csv('data/pen07.csv')          
penalti_07['Temporada'] = '07/08'
penalti_08 = pd.read_csv('data/pen08.csv')          
penalti_08['Temporada'] = '08/09'
penalti_09 = pd.read_csv('data/pen09.csv')          
penalti_09['Temporada'] = '09/10'
penalti_10 = pd.read_csv('data/pen10.csv')          
penalti_10['Temporada'] = '10/11'
penalti_11 = pd.read_csv('data/pen11.csv')          
penalti_11['Temporada'] = '11/12'
penalti_12 = pd.read_csv('data/pen12.csv')          
penalti_12['Temporada'] = '12/13'
penalti_13 = pd.read_csv('data/pen13.csv')          
penalti_13['Temporada'] = '13/14'
penalti_14 = pd.read_csv('data/pen14.csv')          
penalti_14['Temporada'] = '14/15'
penalti_15 = pd.read_csv('data/pen15.csv')          
penalti_15['Temporada'] = '15/16'
penalti_16 = pd.read_csv('data/pen16.csv')          
penalti_16['Temporada'] = '16/17'
penalti_17 = pd.read_csv('data/pen17.csv')          
penalti_17['Temporada'] = '17/18'
penalti_18 = pd.read_csv('data/pen18.csv')          
penalti_18['Temporada'] = '18/19'
penalti_19 = pd.read_csv('data/pen19.csv')          
penalti_19['Temporada'] = '19/20'
penalti_20 = pd.read_csv('data/pen20.csv')          
penalti_20['Temporada'] = '20/21'
penalti_21 = pd.read_csv('data/pen12.csv')          
penalti_21['Temporada'] = '21/22'
penalti_22 = pd.read_csv('data/pen22.csv')          
penalti_22['Temporada'] = '22/23'
penaltisF = pd.concat([penalti_05,penalti_06, penalti_07,penalti_08,penalti_09,penalti_10,penalti_11,penalti_12,penalti_13,penalti_14,penalti_15,penalti_16,penalti_17,penalti_18,penalti_19,penalti_20,penalti_21,penalti_22])

In [151]:
penaltiC_05 = pd.read_csv('data/pen_C_05.csv')          
penaltiC_05['Temporada'] = '05/06'
penaltiC_06 = pd.read_csv('data/pen_C_06.csv')          
penaltiC_06['Temporada'] = '06/07'
penaltiC_07 = pd.read_csv('data/pen_C_07.csv')          
penaltiC_07['Temporada'] = '07/08'
penaltiC_08 = pd.read_csv('data/pen_C_08.csv')          
penaltiC_08['Temporada'] = '08/09'
penaltiC_09 = pd.read_csv('data/pen_C_09.csv')          
penaltiC_09['Temporada'] = '09/10'
penaltiC_10 = pd.read_csv('data/pen_C_10.csv')          
penaltiC_10['Temporada'] = '10/11'
penaltiC_11 = pd.read_csv('data/pen_C_11.csv')          
penaltiC_11['Temporada'] = '11/12'
penaltiC_12 = pd.read_csv('data/pen_C_12.csv')          
penaltiC_12['Temporada'] = '12/13'
penaltiC_13 = pd.read_csv('data/pen_C_13.csv')          
penaltiC_13['Temporada'] = '13/14'
penaltiC_14 = pd.read_csv('data/pen_C_14.csv')          
penaltiC_14['Temporada'] = '14/15'
penaltiC_15 = pd.read_csv('data/pen_C_15.csv')          
penaltiC_15['Temporada'] = '15/16'
penaltiC_16 = pd.read_csv('data/pen_C_16.csv')          
penaltiC_16['Temporada'] = '16/17'
penaltiC_17 = pd.read_csv('data/pen_C_17.csv')          
penaltiC_17['Temporada'] = '17/18'
penaltiC_18 = pd.read_csv('data/pen_C_18.csv')          
penaltiC_18['Temporada'] = '18/19'
penaltiC_19 = pd.read_csv('data/pen_C_19.csv')          
penaltiC_19['Temporada'] = '19/20'
penaltiC_20 = pd.read_csv('data/pen_C_20.csv')          
penaltiC_20['Temporada'] = '20/21'
penaltiC_21 = pd.read_csv('data/pen_C_21.csv')          
penaltiC_21['Temporada'] = '21/22'
penaltiC_22 = pd.read_csv('data/pen_C_22.csv')          
penaltiC_22['Temporada'] = '22/23'
penaltisC = pd.concat([penaltiC_05,penaltiC_06, penaltiC_07,penaltiC_08,penaltiC_09,penaltiC_10,penaltiC_11,penaltiC_12,penaltiC_13,penaltiC_14,penaltiC_15,penaltiC_16,penaltiC_17,penaltiC_18,penaltiC_19,penaltiC_20,penaltiC_21,penaltiC_22])

In [152]:
penaltisF = penaltisF.drop('Unnamed: 0',axis=1)
penaltisC = penaltisC.drop('Unnamed: 0',axis=1)

In [194]:
"""Al fusionar ambas tablas, por motivo que aún desconozco, 
me desaparecen 4 filas, por lo que tengo que identificarlas y arreglarlo"""

penaltis = pd.merge(penaltisC,penaltisF)
penaltis

               Equipo  penaltis_contra Temporada  penaltis
0    Deportivo Alavés               10     05/06         5
1    Racing Santander                8     05/06         3
2       Real Zaragoza                7     05/06         2
3           Málaga CF                7     05/06         2
4          CA Osasuna                6     05/06         4
..                ...              ...       ...       ...
351        Real Bétis                3     22/23         9
352   Athletic Bilbao                3     22/23         7
353      FC Barcelona                3     22/23         2
354        Sevilla FC                3     22/23         5
355     Real Sociedad                2     22/23         4

[356 rows x 4 columns]

In [167]:
#pd.set_option('display.max_rows', 30)

In [183]:
"""Tras in¡dentificar las 4 filas perdidas,
creo una DF con los datos cogidos de las DF anteriores"""

añadir = pd.DataFrame({'Equipo':['Cádiz CF','Elche CF','Deportivo Alavés','FC Villarreal'], #creamos estas 4 filas que se han perdido al hacer el merge
          'penaltis_contra':[13,10,9,5],
          'Temporada':['21/22','21/22','21/22','21/22'],
          	'penaltis':[6,1,7,6]})
añadir

             Equipo  penaltis_contra Temporada  penaltis
0          Cádiz CF               13     21/22         6
1          Elche CF               10     21/22         1
2  Deportivo Alavés                9     21/22         7
3     FC Villarreal                5     21/22         6

In [195]:
penaltis = pd.concat([penaltis,añadir],axis=0)

In [201]:
"""Reordeno la DF y restablesco los indices"""

penaltis = penaltis.sort_values(by=['Temporada','penaltis_contra'])
penaltis = penaltis.reset_index().drop('index',axis=1)
penaltis

                      Equipo  penaltis_contra Temporada  penaltis
0               RCD Mallorca                2     05/06         1
1    RC Deportivo de Corunha                3     05/06         4
2            Athletic Bilbao                3     05/06         5
3              FC Villarreal                3     05/06         7
4               RCD Espanyol                3     05/06         4
..                       ...              ...       ...       ...
355            Celta de Vigo                8     22/23         3
356                Getafe CF                8     22/23         8
357                 Cádiz CF               10     22/23         5
358                 Elche CF               10     22/23         5
359       Real Valladolid CF               10     22/23         4

[360 rows x 4 columns]

In [202]:
penaltis.to_csv('data_limpio/penaltis_FC.csv')